@tailwind base;
@layer base {
  .hed1 {
    @apply text-4xl;
    @apply font-serif;
    @apply font-bold;
  }
  .super {
    @apply text-5xl;
    @apply font-serif;
    @apply font-extrabold;
  }
  .hed2 {
    @apply text-2xl;
    @apply font-serif;
    @apply font-bold;
  }
  .hed3 {
    @apply text-lg;
    @apply font-serif;
    @apply font-medium;
  }
}
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  }
  .rounded-20px {
    border-radius: 20px;
  }
  .rounded-t-20px {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .rounded-b-20px {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .rounded-l-20px {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .rounded-tr-20px {
    border-top-right-radius: 20px;
  }
  .rounded-bl-20px {
    border-bottom-left-radius: 20px;
  }
  .speech-bubble::after {
    position: absolute;
    content: '';
    right: 8px;
  }
  .speech-bubble-tail::after {
    border-top: 1px solid rgba(229, 229, 229, 1);
    border-right: 1px solid rgba(229, 229, 229, 1);
    background-color: rgba(247, 251, 249, 1);
    left:123px;
    top: -6px;
    width: 10px;
    height: 10px;
    transform: rotate(315deg);
  }
  .expand-button {
    margin-top: -8px;
    margin-right: -8px;
  }
  .expand-drawer-button {
    margin: 0 -8px -8px -8px;
  }
  .menu-right {
    position: absolute;
    height: 80px;
    top: -27px;
    right: -16px;
    z-index: -1;
  }
  @media (min-width: 640px) {
    .sidebar {
      min-width: 250px;
      max-width: 250px;
    }
    .menu-right {
      position: absolute;
      height: 77px;
      top: -26px;
      right: -8px;
      z-index: 1px;
    }
  }
  .menu-250 {
    width: 250px;
  }
  .menu-80 {
    max-width: 250px;
  }
  @media (max-width: 639px) {
    .menu-80 {
      width: 80px;
    }
    .download-button {
      visibility: hidden;
    }
  }
  .video-grid div:nth-child(n + 3) {
    display: none;
  }

  .video-thumb {
    width: 190px;
  }
  .video-thumb--overlay {
    width: 190px;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 20%;
  }
  .video-icon {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .video-text {
    max-height: 44px;
    overflow: hidden;
  }
  .icon-x {
    width: 16px;
    height: 16px;
  }
  .icon-xw::before {
    content: url(patterns/01-atoms/images/Icon/icon-x.svg);
  }
  .icon-xb::before {
    content: url(patterns/01-atoms/images/Icon/icon-x-bk.svg);
  }
  input[type='range'] {
    -webkit-appearance: none !important;
    height: 10px;
    background: #afe1e2;
    border-radius: 10px;
    margin: 0 10px;
  }
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #124168;
    height: 20px;
    width: 20px;
    border-radius: 20px;
  }
  .user-menu {
    width: 320px;
    height: 451px;
  }
}
